header {
    background-color: aliceblue;
    color: rgb(7, 87, 87);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid #39c4eb;
    padding: 15px;
}

main {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 12, 78);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: Spx solid #fff;
    padding: 15px;
    display: flex;
}

footer {
    background-color: aliceblue;
    color: rgb(16, 107, 28);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.autor{
    font-weight: bold;
}

img{
height: 10%;
width: 10%;
}